/Guia2Ejercicios/Guia2Ejercicios/nbproject/private/
/Guia2Ejercicios/nbproject/private/
/Guia2Ejercicios/build/
/Guia3Ejercicios/nbproject/private/
/Guia3Ejercicios/build/
/PreParc/nbproject/private/
/PreParc/build/
/PreParcTodoLibre/build/
/ExConduc-v1/nbproject/private/
/ExConduc-v1/build/
/INSPT-ProgII-p1-2022-EfectoInvernadero-GIANNINI-SEBASTIAN/nbproject/private/
/INSPT-ProgII-p1-2022-EfectoInvernadero-GIANNINI-SEBASTIAN/build/
